APP_NAME=task-management
APP_ENV=development
APP_PORT=8080

DB_DRIVER=mysql
DATABASE_URL=

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_USER=task_user
MYSQL_PASSWORD=task_pass
MYSQL_DATABASE=task_management

REDIS_URL=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
JWT_SECRET=super-secret-key
JWT_ACCESS_TOKEN_EXPIRE_HOURS=24

BOOTSTRAP_ADMIN_NAME=Admin User
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=
